mat-radio-group {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 10px 0 24px;
    border: 1px solid purple;
}

mat-radio-group:hover {
    background-color: #fafafaec;
}

mat-radio-group div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}