<mat-toolbar class="toolbar-fixed">
  <div class="toolbar-content">
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <h2>Contract Builder</h2>&nbsp;
    <h2>Connected to {{address}}</h2>
  </div>
</mat-toolbar>

<mat-drawer-container class="drawer-container" [hasBackdrop]="false">
  <mat-drawer #drawer mode="side">
    <a>Contracts</a>
    <a>New Contract</a>
  </mat-drawer>
  
  <mat-drawer-content>
    <app-create-solidity-file></app-create-solidity-file>
  </mat-drawer-content>
</mat-drawer-container>