<p-toolbar>
  <div class="p-toolbar-group-left">
      <p-button icon="pi pi-list" (click)="drawer.toggle()" class="p-button-outlined"></p-button>
      <div class="spacer-div"></div>
      <label for="notice">Use on testnet only (Tron Nile, Aurora and Evmos testnet only)</label>
  </div>
  <div>
    <label for="title" style="font-weight: 700;">{{title}}</label>
  </div>
  <div class="p-toolbar-group-right">
    <label style="color: rgb(0, 0, 0);" for="wallet" *ngIf="launchedApp"><i class="pi pi-wallet"></i> {{wallet}}</label>
    <div class="spacer-div"></div>
    <label for="chain" *ngIf="!launchedApp">Select chain</label>
    <div class="spacer-div"></div>
    <p-dropdown [options]="chains" [(ngModel)]="chain" optionLabel="name" *ngIf="!launchedApp"></p-dropdown>
    <div class="spacer-div"></div>
    <p-button icon="pi pi-code" label="Launch IDE" (click)="launchApp()" *ngIf="!launchedApp" class="p-button-outlined"></p-button>
    <div class="spacer-div"></div>
  </div>
</p-toolbar>

<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer #drawer mode="side">
    <a>Contracts</a>
    <a>New Contract</a>
  </mat-drawer>
  
  <mat-drawer-content>
    <div style="text-align: center; padding-top: 20px;" *ngIf="!launchedApp">
      <app-home style="text-align: center;"></app-home>
    </div>
    <app-create-solidity-file *ngIf="launchedApp"></app-create-solidity-file>
  </mat-drawer-content>
</mat-drawer-container>
<p-confirmDialog [closable]="false" key="connectionRequest"></p-confirmDialog>
<p-confirmDialog [closable]="false" key="invalidConnection"></p-confirmDialog>