<mat-toolbar class="toolbar-fixed">
  <div class="toolbar-content">
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <h2 style="padding-top: 10px;">Use on testnet only (Tron Nile and Aurora testnet)</h2>&nbsp;
    <div>
      <label for="chain">Select chain</label>&nbsp;
      <p-dropdown [options]="chains" [(ngModel)]="chain" optionLabel="name"></p-dropdown>
      <button mat-button (click)="launchApp()" *ngIf="!launchedApp">Launch IDE</button>
    </div>
    
  </div>
</mat-toolbar>

<mat-drawer-container class="drawer-container" [hasBackdrop]="false">
  <mat-drawer #drawer mode="side">
    <a>Contracts</a>
    <a>New Contract</a>
  </mat-drawer>
  
  <mat-drawer-content>
    <app-home *ngIf="!launchedApp"></app-home>
    <app-create-solidity-file *ngIf="launchedApp"></app-create-solidity-file>
  </mat-drawer-content>
</mat-drawer-container>
<p-confirmDialog [closable]="false"></p-confirmDialog>