mat-expansion-panel-header {
    height: 45px;
    border: 1px solid purple;
    font-size: 12px;
}

mat-panel-description {
    justify-content: space-between;
    align-items: center;
}

mat-panel-description div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 5px 60px 5px;
    margin-top: 10px;
    background-color: rgba(211, 211, 211, 0.3);
    border-radius: 5px;
}