mat-expansion-panel-header {
    border: 1px solid gray;
}

mat-panel-description {
    justify-content: space-between;
    align-items: center;
}

mat-panel-description div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 5px 60px 5px;
    margin-top: 10px;
    background-color: rgba(211, 211, 211, 0.3);
    border-radius: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row mat-checkbox {
    margin-top: 10px;
}

.col {
    width: 100%;
    display: flex;
    flex-direction: column;
}