<div class="content" cdkDragLockAxis="y" cdkDrag>
    <div>
        <mat-form-field>
            <mat-label>Minimun Version...</mat-label>
            <input matInput type="text" [(ngModel)]="item.minimum">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Maximun Version (optioal)...</mat-label>
            <input matInput type="text" [(ngModel)]="item.maximum">
        </mat-form-field>
    </div>
    
    <div class="col">
        <a (click)="updateItem()">
            <mat-icon color="primary" matTooltip="Save changes...">done</mat-icon>
        </a>
        <a (click)="deleteItem()">
            <mat-icon color="warn" matTooltip="Delete item...">clear</mat-icon>
        </a>
    </div>
</div>