<mat-accordion (click)="sendContext($event)" cdkDrag>
    <mat-expansion-panel>
        <mat-expansion-panel-header cdkDragHandle>
            <mat-panel-title>
                <mat-label>Constructor</mat-label>
            </mat-panel-title>

            <mat-panel-description>
                <div></div>
                <div (click)="$event.stopPropagation();">
                    <a (click)="updateItem()">
                        <mat-icon color="primary" matTooltip="Save changes...">done</mat-icon>
                    </a>
                    <a (click)="deleteItem()">
                        <mat-icon color="warn" matTooltip="Delete item...">delete_forever</mat-icon>
                    </a>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="content"
            id={{item.uuid}}
            cdkDropList
            [cdkDropListData]="item.parameters || []"
            cdkDropListConnectedTo={{item.uuid}}
            (cdkDropListDropped)="drop($event)">
            <!--<div class="row">
                <mat-checkbox [(ngModel)]="item.payable" (ngModelChange)="updateItem()">Payable</mat-checkbox>
                <mat-checkbox [(ngModel)]="item.internal" (ngModelChange)="updateItem()">Internal</mat-checkbox>
                <mat-checkbox [(ngModel)]="item.public" (ngModelChange)="updateItem()">Public</mat-checkbox>
            </div>-->
            <hr style="background-color: red;">
            <div *ngFor="let i of item.parameters" cdkDrag>
                <app-parameter></app-parameter>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>