<mat-accordion cdkDragLockAxis="y" cdkDrag>
    <mat-expansion-panel>
        <mat-expansion-panel-header cdkDragHandle>
            <mat-panel-title>
                {{item.name}}
            </mat-panel-title>

            <mat-panel-description>
                <div></div>
                <div>
                    <a (click)="updateItem()">
                        <mat-icon color="primary" matTooltip="Save changes...">done</mat-icon>
                    </a>
                    <a (click)="deleteItem()">
                        <mat-icon color="warn" matTooltip="Delete item...">clear</mat-icon>
                    </a>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row">
            <mat-form-field>
                <mat-label>{{item.name}} Identifier...</mat-label>
                <input matInput type="text" [(ngModel)]="item.identifier">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field>
                <mat-label>Type</mat-label>
                <input matInput [(ngModel)]="newParam.type">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Identifier (optional)</mat-label>
                <input matInput [(ngModel)]="newParam.identifier">
            </mat-form-field>
            
            <mat-icon class="icon" (click)="addErrorParam()">add_box</mat-icon>
        </div>
        <div class="member" *ngFor="let param of item.parameters">
            <mat-label><b>Type: {{param.type}}</b></mat-label>
            <mat-label><b>Identifier: {{param.identifier ? param.identifier : "none"}}</b></mat-label>
            <mat-icon (click)="deleteErrorParam(param)" color="warn" matTooltip="Delete item...">clear</mat-icon>
        </div>
    </mat-expansion-panel>
</mat-accordion>