<mat-accordion cdkDragLockAxis="y" cdkDrag>
    <mat-expansion-panel>
        <mat-expansion-panel-header cdkDragHandle>
            <mat-panel-title>
                {{item.name}}
            </mat-panel-title>

            <mat-panel-description>
                <div></div>
                <div>
                    <a (click)="updateItem()">
                        <mat-icon color="primary" matTooltip="Save changes...">done</mat-icon>
                    </a>
                    <a (click)="deleteItem()">
                        <mat-icon color="warn" matTooltip="Delete item...">clear</mat-icon>
                    </a>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row">
            <mat-form-field>
                <mat-label>{{item.name}} Identifier...</mat-label>
                <input matInput type="text" [(ngModel)]="item.identifier">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field>
                <mat-label>Enum Value</mat-label>
                <input matInput [(ngModel)]="newValue">
            </mat-form-field>
            <mat-icon matTooltip="Add Enum Value..." (click)="addEnum()">add_box</mat-icon>
        </div>

        <div class="row-wrap" *ngIf="item.values && item.values.length > 0">
            <div class="member" *ngFor="let value of item.values">
                <b>{{value}}</b>
                <mat-icon (click)="removeEnum(value)" color="warn" matTooltip="Delete item...">clear</mat-icon>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>