<div class="content" cdkDragLockAxis="y" cdkDrag>
    <div class="row">
        <mat-form-field>
            <mat-label>State Variable Type</mat-label>
            <input matInput type="text" [(ngModel)]="item.type">
        </mat-form-field>

        <mat-form-field>
            <mat-label>State Variable Name</mat-label>
            <input matInput type="text" [(ngModel)]="item.identifier">
        </mat-form-field>

        <mat-form-field matTooltip="optional">
            <mat-label>State Variable Visibility (optional)</mat-label>
            <input matInput type="text" [(ngModel)]="item.visibility">
        </mat-form-field>
        
        <mat-form-field matTooltip="optional">
            <mat-label>State Variable Modifier (optional)</mat-label>
            <input matInput type="text" [(ngModel)]="item.modifier">
        </mat-form-field>

        <mat-form-field matTooltip="optional">
            <mat-label>State Variable Value (optional)</mat-label>
            <input matInput type="text" [(ngModel)]="item.value">
        </mat-form-field>
    </div>

    <div class="col">
        <a (click)="updateItem()">
            <mat-icon color="primary" matTooltip="Save changes...">done</mat-icon>
        </a>
        <a (click)="deleteItem()">
            <mat-icon color="warn" matTooltip="Delete item...">clear</mat-icon>
        </a>
    </div>
</div>