<div class="content" cdkDrag>
    <div>
        <mat-form-field>
            <mat-label>{{item.name}}...</mat-label>
            <input matInput type="text" [(ngModel)]="item.license" (change)="updateItem()">
        </mat-form-field>
    </div>
    
    <div class="col">
        <a (click)="updateItem()">
            <mat-icon color="primary" matTooltip="Save changes...">done</mat-icon>
        </a>
        <a (click)="deleteItem()">
            <mat-icon color="warn" matTooltip="Delete item...">delete_forever</mat-icon>
        </a>
    </div>
</div>