.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 10px 0 24px;
    border: 1px solid purple;
    font-size: 12px;
}

.content:hover {
    background-color: #fafafaec;
}

.content div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.content .col {
    margin-top: 5px;
}

mat-form-field {
    height: 36px;
}